.advantages {
  background-color: $gray-passes;
  margin-bottom: 40px;

  @media (max-width: $tbl-breakpoint) {
    margin-bottom: 56px;
  }

  @media (max-width: $mbl-breakpoint) {
    margin-bottom: 27px;
  }
}

.advantages__wrapper {
  box-sizing: border-box;
  max-width: $dsk-wrapper-width - 122px;
  margin: 0 auto;
  padding: 117px 0 20px;

  @media (max-width: $tbl-breakpoint) {
    padding: 97px 0 86px;
  }

  @media (max-width: $mbl-breakpoint) {
    padding: 67px 0 63px;
  }
}

.advantages__header {
  font-family: $bebas;
  font-size: 49px;
  line-height: 100%;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.85px;

  margin: 0 0 65px 2px;

  @media (max-width: $tbl-breakpoint) {
    font-size: 42px;
    margin: 0 0 49px 2px;
    letter-spacing: 1.6px;
  }

  @media (max-width: $mbl-breakpoint) {
    font-size: 32px;
    margin: 0 0 50px 2px;
    letter-spacing: 1.2px;
  }
}

.advantages__advantages-list {
  box-sizing: border-box;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  row-gap: 74px;
  margin-bottom: -58px;
  align-content: start;
  align-items: start;

  @media (max-width: $tbl-breakpoint) {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
    margin-bottom: 0;
  }

  @media (max-width: $mbl-breakpoint) {
    grid-template-columns: 1fr;
    row-gap: 38px;
  }
}

.advantages__advantage {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: start;
  column-gap: 30px;
  min-height: 162px;
  padding-bottom: 8px;

  @media (max-width: $tbl-breakpoint) {
    min-height: unset;
  }

  @media (max-width: $mbl-breakpoint) {
    grid-template-columns: 1fr;
    padding: 0 28px;
  }

  &--main {
    margin-top: 7px;
    padding: 54px 30px 58px;
    max-width: 240px;
    grid-column: 2;
    grid-row: 1 / 4;
    margin-left: 60px;
    margin-right: 60px;
    background-color: $blue-border;
    grid-template-columns: 1fr;

    @media (max-width: $tbl-breakpoint) {
      grid-column: 1 / -1;
      grid-row: 2;
      justify-self: center;
      min-width: 442px;
      margin: 0;
      margin-top: 5px;
      margin-bottom: 16px;
      padding: 33px 130px 38px;
    }

    @media (max-width: $mbl-breakpoint) {
      min-width: unset;
      max-width: unset;
      grid-row: unset;
      justify-self: stretch;
      margin: 5px -15px 8px;
      padding: 38px 70px 43px;
    }
  }

  &--square,
  &--parking {
    border-bottom: 2px solid $pink-active-20;

    @media (max-width: $tbl-breakpoint) {
      border: none;
    }
  }

  &--square {
    padding-left: 26px;
    max-width: 340px;
    min-width: 340px;

    @media (max-width: $tbl-breakpoint) {
      max-width: unset;
      min-width: unset;
      padding-left: 0;
    }
  }

  &--comfort {
    padding-left: 19px;

    @media (max-width: $tbl-breakpoint) {
      padding-left: 0;
    }
  }

  &--experience {
    column-gap: 32px;

    @media (max-width: $tbl-breakpoint) {
      column-gap: 31px;
    }
  }
}

.advantages__advantage-info {
  grid-row: 1 / 4;
  grid-column: 1;
  font-size: 71px;
  line-height: 100%;
  font-weight: 700;
  margin-top: -4px;
  background-color: transparent;
  color: transparent;
  background-image: linear-gradient(155deg, $pink-active, $blue-gradient 70%);
  background-repeat: no-repeat;
  background-clip: text;

  @media (max-width: $tbl-breakpoint) {
    font-size: 58px;
  }

  @media (max-width: $mbl-breakpoint) {
    grid-row: 1;
    text-align: center;
    margin-bottom: 14px;
    background-image: linear-gradient(162deg, $pink-active, $blue-gradient 78%);
  }

  &--square {
    background-image: linear-gradient(155deg, $pink-active, $blue-gradient 42%);

    @media (max-width: $mbl-breakpoint) {
      background-image: linear-gradient(162deg, $pink-active, $blue-gradient 57%);
    }
  }
}

.advantages__advantage-info span {
  display: block;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  background-image: none;
  color: $blue-advantage;
}

.advantages__advantage-header {
  font-size: 22px;
  line-height: 150%;
  font-weight: 700;

  margin-top: 0;
  margin-bottom: 6px;

  grid-column: 2;

  @media (max-width: $tbl-breakpoint) {
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 8px;
  }

  @media (max-width: $mbl-breakpoint) {
    grid-row: 2;
    grid-column: 1;
    margin-bottom: 7px;
    text-align: center;
  }

  &--main {
    font-size: 74px;
    line-height: 100%;
    color: $white;
    grid-column: 1;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 39px;

    @media (max-width: $tbl-breakpoint) {
      margin-bottom: 19px;
      font-size: 74px;
    }

    @media (max-width: $mbl-breakpoint) {
      margin-bottom: 14px;
    }
  }
}

.advantages__advantage-header span {
  display: block;
  margin-top: 8px;
  margin-left: 5px;
  font-size: 26px;
  line-height: 100%;

  @media (max-width: $tbl-breakpoint) {
    font-size: 22px;
    margin-top: 5px;
  }

  @media (max-width: $mbl-breakpoint) {
    font-size: 22px;
    margin-top: 0;
  }
}

.advantages__advantage p {
  font-size: 16px;
  line-height: 140%;
  font-weight: 300;

  margin: 0;

  grid-column: 2;

  @media (max-width: $mbl-breakpoint) {
    grid-row: 3;
    grid-column: 1;
    text-align: center;
  }
}

.advantages__advantage--main p {
  grid-column: 1;
  color: $white;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  text-align: center;
}
