.contacts {
  box-sizing: border-box;
  padding: 66px 38px 47px 120px;
  border-top: 1px solid $gray-input;

  @media (max-width: $tbl-breakpoint) {
    padding: 67px 66px 47px 129px;
    border: none;
  }

  @media (max-width: $mbl-breakpoint) {
    padding: 67px 11px 48px;
  }
}

.contacts__header {
  font-size: 49px;
  line-height: 100%;
  font-family: $bebas;
  letter-spacing: 1.7px;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 33px;

  @media (max-width: $tbl-breakpoint) {
    font-size: 42px;
    letter-spacing: 1.4px;
    margin-bottom: 28px;
    margin-left: 4px;
  }

  @media (max-width: $mbl-breakpoint) {
    font-size: 32px;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
}

.contacts__contacts-list {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  padding-left: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-items: start;
  row-gap: 7px;
  column-gap: 59px;

  @media (max-width: $tbl-breakpoint) {
    column-gap: 47px;
    row-gap: 15px;
    grid-template-columns: 47% 1fr;
  }

  @media (max-width: $mbl-breakpoint) {
    grid-template-columns: 1fr;
    gap: 14px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    bottom: 7px;
    top: 16px;
    grid-column: 1 / 2;
    justify-self: end;
    align-self: stretch;
    grid-row: 1 / 4;
    background-color: $gray-input;

    @media (max-width: $mbl-breakpoint) {
      display: none;
    }
  }
}

.contacts__contact {
  box-sizing: border-box;
  padding-top: 10px;

  &--workhours {
    @media (max-width: $mbl-breakpoint) {
      grid-row: 2;
    }
  }
}

.contacts__contact-header {
  margin-top: 0;
  margin-bottom: 1px;
  font-size: 16px;

  @media (max-width: $tbl-breakpoint) {
    margin-bottom: 10px;
    font-size: 20px;
  }

  @media (max-width: $mbl-breakpoint) {
    margin-bottom: 10px;
  }
}

.contacts__contact-value {
  display: block;
  color: $blue-text;
  font-size: 14px;
  letter-spacing: 0.13px;
  text-decoration: none;

  @media (max-width: $tbl-breakpoint) {
    font-size: 18px;
    letter-spacing: 0.14px;
  }

  @media (max-width: $mbl-breakpoint) {
    letter-spacing: 0.16px;
  }
}
