$roboto: "Roboto Condensed", "Arial", sans-serif;
$bebas: "Bebas Neue", "Arial", sans-serif;

$dsk-wrapper-width: 1160px;

$tbl-container-padding: 45px;
$mbl-container-padding: 15px;

$tbl-breakpoint: 1199px;
$mbl-breakpoint: 767px;

$white: #ffffff;
$black-footer: #030a1a;
$blue-text: #102654;
$blue-subtext: #495a7d;
$white-text-80: #ffffffe3;
$blue-text-50: #102654e3;
$blue-text-80: #102654e3;
$blue-video-50: #14367ae3;
$blue-price: #103aae;
$blue-border: #1c3374;
$blue-advantage: #2e35ac;
$blue-gradient: #00359f;
$blue-pass: #003eb7;
$gray-shadow: #e8e8e88c;
$gray-scale: #78787833;
$gray-subtext: #b6bdcc;
$gray-input: #74819c;
$gray-passes: #f8f9fc;
$pink-active: #d10a42;
$pink-active-20: #d10a4233;
$pink-promo: #ed0233;

$review-shadow: 0 0 40px #1c337433;
$trainer-shadow: 0 0 35px #2a3b632b;
